body {
  font-family: Axis Tempus, serif;
  width: 100%;
  font-size: 10pt;
  line-height: 2;
  background-color: white;
  color: black;
}
.container {
  overflow: hidden;
}
.container .info .content {
  display: block;
}
.page-container {
  position: relative;
  width: 100%;
}
.home-container {
  width: 15%;
  position: fixed;
  float: left;
  padding: 3%;
}
.gt1-container {
  width: 80%;
  float: right;
  padding: 3%;
}
.gt1-info {
  width: 30%;
  float: left;
  position: relative;
}
.gt1-content {
  width: 65%;
  float: left;
  margin-left: 3%;
}
.gt1-img {
  width: 50%;
  padding: 3%;
}
.NFSUnderground-container {
  width: 80%;
  float: right;
  padding: 3%;
}
.NFSUnderground-info {
  width: 30%;
  float: left;
  position: relative;
}
.NFSUnderground-content {
  width: 65%;
  float: left;
  margin-left: 2.5%;
}
.NFSUnderground-img {
  width: 50%;
  padding: 3%;
}
.RX7-container {
  width: 80%;
  float: right;
  padding: 3%;
}
.RX7-info {
  width: 30%;
  float: left;
  position: relative;
}
.RX7-content {
  width: 65%;
  float: left;
  margin-left: 2.5%;
}
.RX7-img {
  width: 50%;
  padding: 3%;
}
.InitialD-container {
  width: 80%;
  float: right;
  padding: 3%;
}
.InitialD-info {
  width: 30%;
  float: left;
  position: relative;
}
.InitialD-content {
  width: 65%;
  float: left;
  margin-left: 2.5%;
}
.InitialD-img {
  width: 50%;
  padding: 3%;
}
.Pluspy-container {
  width: 80%;
  float: right;
  padding: 3%;
}
.Pluspy-info {
  width: 30%;
  float: left;
  position: relative;
}
.Pluspy-content {
  width: 65%;
  float: left;
  margin-left: 2.5%;
}
.Pluspy-img {
  width: 50%;
  padding: 3%;
}
.machineHallucination-container {
  width: 80%;
  float: right;
  padding: 3%;
}
.machineHallucination-info {
  width: 30%;
  float: left;
  position: relative;
}
.machineHallucination-content {
  width: 65%;
  float: left;
  margin-left: 2.5%;
}
.machineHallucination-img {
  width: 50%;
  padding: 3%;
}
.map-container {
  width: 80%;
  float: right;
  padding: 3%;
}
.map-info {
  width: 30%;
  float: left;
  position: relative;
}
.map-content {
  width: 65%;
  float: left;
  margin-left: 2.5%;
}
.map-img {
  width: 50%;
  padding: 3%;
}
